#home {
    background-image: url('../img/home.jpg');
    background-size: cover;
}

.darken-existing-bg {
    background-color: rgba(0, 0, 0, .7);
}

.blue-check {
    color: rgb(0, 123, 255);
    background-color: white;
}

.nav-border-bottom-blue {
    border-bottom: solid;
    border-color: rgb(0, 123, 255);
}

.white-check {
    color: #333;
}