div.nav li, div.nav p {
    font-size: 1.5rem;
}

#home, .background-image {
    background-image: url('../img/mountains.jpg');
    background-size: cover;
    margin-top: 104px;
}

.blue-overlay {
    background-color: rgba(50, 146, 166, .8)
}

.nav {
    opacity: .9;
}